@font-face {
    font-family: UltimaPro; /* Гарнитура шрифта */
    src: url(fonts/UltimaProLt.ttf); /* Путь к файлу со шрифтом */
   }



textarea:focus, input:focus{
    outline: none;
}
/** {
    font-family: UltimaPro;
}*/

header{
    margin-top: 30px;
    width: 940px; 
    margin-left: auto; 
    margin-right: auto
}

header .row a{
    text-decoration:none;
}

.logo{
    width: 173px;
    height: 47px;
    margin-right: 70px;
    margin-top: -5px;
}
.logo img{
    width: 173px;
    height: auto;
}
.logo_bottom{
    width: 173px;
    margin-top: 5px;
}

.about{
    border:1px solid #E62020;
    border-radius: 5px;
    padding: 4px 9px 4px 9px;
    font-size: 13px;
    float: left;
}

.contact{
    border:1px solid #E62020;
    border-radius: 5px;
    font-size: 13px;
    padding: 4px 21px 4px 21px;
    float: right;
}

.banner{
    /*border:1px solid #E62020;*/
    height: 90px;
    margin-left: 250px;
    margin-top: 5px;
    width: 728px;
    /*position: absolute;*/
}

.banner img{
    margin-top: -115px;
    width: 700px;
    height: 90px;
}

.header_search{
    border:1px solid #CACACA;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    margin-left: 33px;
}

.header_search input{
    border:none;
    margin-top: 6px;
    margin-left: 20px;
    width: 230px;
    font-size: 16px;
}

.header_search img{
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 20px;
    margin-top: 7px;
}

a .about{
    color: #E62020;
    text-decoration: none;
}

a .about:hover{
    color: white;
    background: #E62020;
}


a .contact{
    color: #E62020;
    text-decoration: none;
}

a .contact:hover{
    color: white;
    background: #E62020;
}

.fb{
    border:1px solid #CACACA;
    border-radius: 20px;
    width: 116px;
    height: 40px;
    margin-left: 10px;
    font-size: 14px;
    padding-top: 9px;
    color: #6D6F71;
}

.fb:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);;
}

.fb img{
    margin-left: 19px;
    margin-top: -5px;
    width: 10px;
    height: 16px;
}

.twit{
    border:1px solid #CACACA;
    border-radius: 20px;
    width: 116px;
    height: 40px;
    margin-left: 10px;
    font-size: 14px;
    padding-top: 9px;
    color: #6D6F71;
}

.twit:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);;
}


.twit img{
    margin-left: 19px;
    margin-top: -3px;
    width:19px;
    height: 16px;
}

.insta{
    border:1px solid #CACACA;
    border-radius: 20px;
    width: 116px;
    height: 40px;
    margin-left: 10px;
    font-size: 14px;
    padding-top: 9px;
    color: #6D6F71;
}

.insta:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);;
}

.insta img{
    margin-left: 16px;
    margin-top: -3px;
    width: 16px;
    height: 16px;
}






nav{
    margin-top: 110px;
    width: 940px !important; 
    margin-left: auto; 
    margin-right: auto;
}

nav .row{
 margin-left: -55px;
}

.navbar_menu ul{
    width: auto;
    /*margin-left: -55px;*/
    list-style: none;
    margin-left: auto; 
    margin-right: auto;
}

.navbar_menu ul a{
    color: #231F20;
    text-decoration: none;
}

.navbar_menu ul a:hover{
    color: #E62020;
}

.navbar_menu ul li{
    display: inline;
    font-size: 14px;
    /*font-family: UltimaPro;*/
    margin-right: 32px;
    font-weight: 600;
}

.navbar_menu ul a>i{
    font-size: 20px;
    /*float: right;*/
    margin-right: 5px;
    cursor: pointer;
    color: black;
}

.menu2{
    width: 1000px;
    display: none;
    margin-right: auto;
    margin-left: auto;
}

.menu2 a{
    margin-right: 32px;
    font-size: 14px;
    font-weight: 600;
}



section{
    /*margin-top: 42px;    */
    background: #F6F6F6;
}


.section{
    margin-top: 12px;
    width: 940px; 
    margin-left: auto;
    margin-right: auto;
}

.news_pic{
    margin-top: 20px;
    width: 620px;
    height: 420px;    
    position: relative;
}

.news_pic h3{
    position: absolute;
    margin-top: -50px;
}


.news_pic img{
    width: 620px;
    height: 420px;
    border-radius: 5px;

}

.news_pic_detal p{
      width: 580px;
      font-size: 22px;
      font-weight: 600;
      margin-top: 15px;
}

.news_pic_detal b{
      
      font-size: 22px;
      font-weight: 600;
      
}


.news_pic_detal img{
      width: 620px;
      font-size: 22px;
      font-weight: 600;
}

.news_pic p{
      position: absolute;
      width: 580px;
      top: 85%;
      left: 70%;
      padding-left: 15px;
      transform: translate(-70%, -50%);
      font-size: 22px;
      color: white;
      background: rgb(0,0,0, 0.5);
      border-radius: 10px;
      font-weight: 600;
}


.rek{
    margin-left: 25px;
    width: 300px;
    height: 250px;    

}

.rek a img{
    margin-top: 20px; 
    width: 300px;
    height: 250px; 
    border-radius: 5px;
}

.rek2{
    margin-left: -10px;
    width: 250px;
    height: 250px;    
    margin-bottom: 300px;
}

.rek2 a img{
    margin-top: 20px; 
    width: 300px;
    height: 250px; 
    border-radius: 5px;
}

.news_numbers{
    margin-top: 5px;
    width: 640px;
    margin-left: -10px;
}

.news_numbers a{
    text-decoration: none;
}

/*.news_numbers a span:hover{
    color: #E62020;
}*/

.number{
    border:1px solid #CACACA;
    padding: 2px 40px 2px 40px;
    font-size: 12px;
    color: #CACACA;
    margin-right: 12.4px;
    border-radius: 11px;
}

/*.number:hover{
    border: 1px solid #E62020;
    color: #E62020;
}*/

.column{
    margin-top: 10px;
    width: 115px;
    margin-left: -10px;
}


.column img{
    margin-top: 0px;
    width: 85px;
    height: 50px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
    margin-right: 12.4px;
    border-radius: 5px;
}








.section2{
    margin-top: 100px;    
    background: #F6F6F6;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}
.section2 .row{
    margin-left: -20px;
}
.days_news_col{
    width: 300px;
}

.video_news_col{
    width: 300px;
}

.day_news{
    width: 300px;
    height: auto;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}

.day_news_img img{
    width: 300px;
    height: 169px;
    border-radius: 5px;
    position: relative;
    
}

.video_news{
    width: 300px;
    height: auto;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
}

.video_news img{
    width: 300px;
    height: 169px;
    border-radius: 5px;
    position: relative;
}

.lent_news{
    width: 300px;
    margin-left: -10px;
    font-size: 18px;
    font-weight: 600;
}

.lent_div{
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
    background: white;
}

.day_news_img_oclock{
    position: absolute;
    margin-top: 5px;
    font-size: 12px;
    margin-left: 10px;
    /*margin-top: -27px;*/
}

.day_news_img_oclock img{
    width: 12px;
    height: 12px;
    position: absolute;
    margin-left: 0px;
    margin-top: 3px;
}

.day_news_img_oclock span{
    margin-left: 20px;
    color: white;
}

.background_color_news{
    height: 30px;
    margin-top: -30px;
    position: relative;
    background: rgb(0,0,0, 0.5);
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
}



.day_news_img_date{
    position: absolute;
    margin-top: 5px;
    /*margin-top: -27px;*/
    font-size: 12px;
    margin-left: 203px;
}

.day_news_img_date img{
    width: 12px;
    height: 12px;
    margin-top: -5px;
}

.day_news_img_date span{
    margin-left: 5px !important;
    color: white;
}

.day_news_title a{
    text-decoration: none;
    color: black;    
}
.day_news_title a:hover{
    text-decoration: none;
    color: #9f1421;    
}
.day_news_title{
    height: 40px;
    width: 300px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
}

.other_day_news{
    margin-top: 20px;
}

.other_day_news a{
    text-decoration: none;
    color: #000000;
}
.other_day_news a:hover{
    text-decoration: none;
    color: #9f1421;
}
.other_day_news img{
    width: 90px;
    height: 60px;   
    border-radius: 5px;
}

.other_day_news span{
    font-size: 14px;
    position: absolute;
    max-width: 200px;
    margin-left: 10px;
    /*font-family: "UltimaPro";*/
}



.day_news_title_oclock{
    /*margin-left: 5px;*/
}

.day_news_title_oclock span{
    font-size: 12px;
    margin-left: 5px;
}
.day_news_title_oclock img{
    width: 12px;
    height: 12px;
}

.video_news_img_oclock{
    position: absolute;
    /*margin-top: -27px;*/
    margin-top: 5px;
    font-size: 12px;
    margin-left: 10px;
}

.video_news a{
    text-decoration: none;
    color: black;
    height: 30px;
    margin-bottom: 10px;
}
.video_news a:hover{
    text-decoration: none;
    color: #9f1421;
}
.video_news_img_oclock img{
    width: 12px;
    height: 12px;
    position: absolute;
    margin-top: 4px;
}

.video_news_img_oclock span{
    margin-left: 20px;
    color: white;
}



.video_news_img_date{
    position: absolute;
    /*margin-top: -27px;*/
    margin-top: 5px;
    font-size: 12px;
    margin-left: 203px;
}

.video_news_img_date img{
    width: 12px;
    height: 12px;
    margin-top: -5px;
}

.video_news_img_date span{
    float: right;
    margin-left: 15px;
    /*position: absolute;*/
    color: white;
}





.video_news_title a{
    text-decoration: none;
    color: black;    

}

.video_news_title{    
    height: 40px;
    width: 290px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
}





.video_news_title_oclock{
    /*margin-left: 5px;*/
    padding-top: -70px;
}

.video_news_title_oclock span{
    font-size: 12px;
    margin-left: 5px;
}

.video_news_title_oclock img{
    width: 12px;
    height: 12px;
}

.other_video_news{
    margin-top: 20px;
}

.other_video_news img{
    width: 90px;
    height: 60px;   
    border-radius: 5px;
}

.other_video_news span{
    font-size: 12px;
    position: absolute;
    width: 180px;
    margin-left: 10px;
}

.detal_right{
    padding-bottom: 100px;
}

.lent_news_title{
    padding-top: 15px;
}

.lent_news_oclock{
    float: left;
    margin-left: 15px;
    font-size: 12px;
    color: #6D6F71;
}
.lent_news_oclock img{
    width: 12px;
    height: 12px;
}

.lent_news_date img{
    width: 12px;
    height: 12px;
}


.lent_news_date{
    float: right;
    margin-right: 15px;
    font-size: 12px;
    color: #6D6F71;
}

.lent_news_oclock img{
    margin-top: -4px
}


.lent_news_date img{
    margin-top: -4px
}

.lent_news_text{
    font-size: 16px;
    margin-left: 14px;
    width: 270px;
    margin-top: 25px;
    font-weight: 600;
}

.lent_news_text b{
    text-decoration: none;
    
}


.lent_news_text a{
    text-decoration: none;
    color: #231F20;
}

.lent_news_text a:hover{
    text-decoration: none;
    color: #E62020;
}
.lent_news_border_bottom{
    border-bottom: 1px solid #DEDEDE;
    width: 269px;
    margin-left: 15px;
    margin-top: 23px;
}





.redaktor_div{
    margin-top: 40px;
    width: 620px;
    margin-left: -5px;
}

.redaktor_div p{
    font-size: 18px;
    font-weight: 700;
}

.red_box_div{
    width: 640px;
    margin-left: -15px;
    margin-top: -20px;
    margin-left: -20px; 
}

.red_box_div a{
    text-decoration: none;
}

.red_box{    
    display: inline-table;
    margin-top: 20px;
    margin-left: 15px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
    background: white;
}

.red_box:hover{    
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
}


.red_box img{
    width: 290px;
    height: auto;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.red_box_oclock{
    float: left;
    font-size: 12px;
    color: #6D6F71;
    margin-top: 5px;
}

.red_box_date{
    float: right;
    margin-right: 15px;
    font-size: 12px;
    color: #6D6F71;
    margin-top: 5px;
}

.red_box_oclock img{
    width: 12px;
    height: 12px;
    margin-top: -4px;
}

.red_box_date img{
    width: 12px;
    height: 12px;
    margin-top: -4px;
}

.red_box_title{
    font-size: 14px;
    font-weight: 700;
    color: #231F20;
    margin-top: 30px;
    margin-left: 10px;
    width: 285px;
}





.most_and_politic{
    width: 620px;
}


.most_readers_col{
    width: 300px;
}

.politic_news_col{
    width: 350px;
}


.readers_and_politic{
    width: 640px;
}

.most_readers{
    width: 300px;
    margin-left: 0px;
    font-size: 18px;
    font-weight: 600;
}

.most_readers p{
    width: 300px;
    font-size: 18px;
    font-weight: 600;
    color: #231F20;
    margin-top: 40px;
}

.most_readers_div{
    margin-top: 20px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
    background: white;
}


.most_readers_title{
    padding-top: 15px;
    padding-bottom: 10px;
}

.most_readers_oclock{
    float: left;
    margin-left: 15px;
    font-size: 12px;
    color: #6D6F71;
}

.most_readers_date{
    float: right;
    margin-right: 15px;
    font-size: 12px;
    color: #6D6F71;
}

.most_readers_oclock img{
    width:12px;
    height: 12px;
}


.most_readers_date img{
    margin-top: -9px
}

.most_readers_text{
    font-size: 14px;
    margin-left: 14px;
    width: 270px;
    margin-top: 25px;
    font-weight: 600;
}

.most_readers_text a{
    text-decoration: none;
    color: black;
}
.most_readers_text a:hover{
    text-decoration: none;
    color: #E62020;
}
.most_readers_border_bottom{
    border-bottom: 1px solid #DEDEDE;
    width: 269px;
    margin-left: 15px;
    margin-top: 23px;
}










.politic_news{
    width: 300px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}

.politic_news a{
    text-decoration: none;
    color: black;
}
.politic_news a:hover{
    text-decoration: none;
    color: #9f1421;
}
.politic_news_img img{
    width: 300px;
    height: 169px;
    border-radius: 5px;
    position: relative;
    margin-top: 4px;
}

.politic_news_img_oclock{
    position: absolute;
    /*margin-top: -27px;*/
    margin-top: 5px;
    font-size: 12px;
    margin-left: 10px;
}

.politic_news_img_oclock img{
    width: 12px;
    height: 12px;
    position: absolute;
    margin-left: 0px;
}

.politic_news_img_oclock span{
    margin-left: 20px;
    color: white;
}



.politic_news_img_date{
    position: absolute;
    /*margin-top: -27px;*/
    margin-top: 5px;
    font-size: 12px;
    margin-left: 203px;
}

.politic_news_img_date img{
    width: 12px;
    height: 12px;
    margin-left: 0px;
    margin-top: -5px;
}

.politic_news_img_date span{
    margin-left: 15px;
    /*position: absolute;*/
    color: white;
}

.politic_news_title{
    width: 290px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
}








.day_and_video{
    width: 640px;
}



.world_row{
    width: 620px;
    margin-top: 50px;
}

.world_col{
    margin-left: -11px;
}





.footer{
    width: 100%;
    background: white;
    margin-right: -50px;
}

.footer .row{
    width: 940px;
    /*margin-top: 150px;*/
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.footer .right{
    max-height: 30px;
    margin-top: 25px;
    max-width: 150px;
}

.footer .right_logo{
    margin-top: -15px;
}

@media screen and (max-width: 385px) {
    .footer .right_logo{
        margin-top: 10px;
        margin-left: -10px;
    }
}

.footer .left{
    max-height: 80px;
    max-width: 113px;
}

.footer p{
    color: #231F20;
    font-size: 12px;    
    margin-top: 33px;
    margin-bottom: 20px;
}




.background_color{
    background: #F6F6F6;
    /*padding-top: 20px;*/
    padding-bottom: 20px;
    padding-top: 0px;
}

















/*detal*/

.detal_news_bottom{
    margin-top: -10px;
    padding-top: 30px;
    width: 620px;
    background: white;
    height: auto;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
    border-radius: 5px;
    padding-bottom: 75px;
}

.detal_news_bottom_row{
    margin-left: 28px;
    width: 620px;
}

.detal_news_bottom span{
    width: 116px;
}

.bot_sosial{
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #E62020;
    color: #E62020;
    border-radius: 20px;
    width: 126px;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 20px;
}



.detal_news_bottom a{
    text-decoration:none;
    color: #6D6F71;
    text-align: center;
}

.detal_news_bottom a:hover{
    color: #E62020;
}

.bot_time{
    color: #6D6F71;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #CACACA;
    border-radius: 20px;
    width: 126px;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 20px;
}

.bot_time img{
    margin-top: -4px;
    margin-right: 5px;
    width: 12px;
    height: 12px;
}

.bot_time:hover{
    border: 1px solid #E62020;
    color: #E62020;
}

.bot_date{
    color: #6D6F71;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #CACACA;
    border-radius: 20px;
    width: 126px;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 20px;
}

.bot_date img{
    margin-top: -4px;
    margin-right: 5px;
    width: 12px;
    height: 12px;
}

.bot_date:hover{
    border: 1px solid #E62020;
    color: #E62020;
}


.bot_eye{
    color: #6D6F71;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #CACACA;
    border-radius: 20px;
    width: 126px;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 20px;
}

.bot_eye img{
    margin-top: -4px;
    margin-right: 5px;
    width: 19px;
    height: 12px;
}

.bot_eye:hover{
    border: 1px solid #E62020;
    color: #E62020;
}


.a_minus{
    color: #6D6F71;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #CACACA;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 20px;
}

.a_minus img{
    margin-top: -6px;
    margin-right: 5px;
}

.a_minus:hover{
    border: 1px solid #E62020;
    color: #E62020;
}


.a_plus{
    color: #6D6F71;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #CACACA;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 10px;
}

.a_plus img{
    margin-top: -6px;
    margin-right: 5px;
}

.a_plus:hover{
    border: 1px solid #E62020;
    color: #E62020;
}



.detal_news_bottom_title h3{
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.detal_news_bottom_title p{
    font-size: 16px;
    margin: 20px;
    margin-top: 30px;
    /*color: #6D6F71;*/
	color: #1a1818;
    text-align: justify;
    font-family: Arial, sans-serif !important;
}

.detal_news_bottom_title_footer{
    float: right;
    margin-right: 20px;
}

.detal_news_bottom_title_footer div{
    font-size: 14px;
}

.fb_detal{
    width: 116px;
    height: 40px;
    border:1px solid;
    border:1px solid #4267B2;
    border-radius: 20px;
    color: #4267B2;
    font-size: 14px;
    padding-top: 8px;
    margin-left: 10px;
}
.fb_detal:hover{
    box-shadow: 0px 0px 6px 0px #4267B2;
}
.fb_detal img{
    margin-left: -10px;
    margin-right: 5px;
    margin-top: -3px;
    width: 10px;
    height: 16px;
}

.wp{
    width: 116px;
    height: 40px;
    border:1px solid;
    border:1px solid #0DC143;
    border-radius: 20px;
    color: #0DC143;
    font-size: 14px;
    padding-top: 8px;
    margin-left: 10px;
}

.wp:hover{
    box-shadow: 0px 0px 6px 0px #0DC143;
}
.wp img{
    margin-left: -10px;
    margin-right: 5px;
    margin-top: -3px;
    width: 16px;
    height: 16px;
}

.twit_detal{
    width: 116px;
    height: 40px;
    border:1px solid;
    border:1px solid #00BFFF;
    border-radius: 20px;
    color: #00BFFF;
    font-size: 14px;
    padding-top: 8px;
    margin-left: 10px;
}
.twit_detal:hover{
    box-shadow: 0px 0px 6px 0px #00BFFF;
}
.twit_detal i{
    margin-left: -10px;
    margin-right: 5px;
    margin-top: -3px;
    width: 16px;
    height: 16px;
}


.g_detal{
    width: 116px;
    height: 40px;
    border:1px solid;
    border:1px solid red;
    border-radius: 20px;
    color: red;
    font-size: 14px;
    padding-top: 8px;
    margin-left: 10px;
}
.g_detal:hover{
    box-shadow: 0px 0px 6px 0px red;
}
.g_detal i{
    margin-left: -10px;
    margin-right: 7px;
    margin-top: -3px;
    width: 16px;
    height: 16px;
}




.detal{   
    margin-top: 12px;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}

.detal .row{   
    margin-left: -30px;
}

.detal_left{
    width: 640px;
}

.detal_left{
    width: 620px;
}

.many_news_row{
    margin-left: -30px;
}

.many_news_div{
    width: 620px;
}

.many_news_div p{
    font-size: 18px;
    font-weight: 700;
}

.many_news_box_div{
    width: 640px;
    margin-left: -15px;
    margin-top: -20px;

}


.many_news_box{    
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
    width: 300px;
    height: 270px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
    background: white;
}


.many_news_box img{
    width: 270px;
    height: 153px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
}

.many_news_box_oclock{
    float: left;
    font-size: 12px;
    color: #6D6F71;
    margin-top: 5px;
}

.many_news_box_date{
    float: right;
    margin-right: 15px;
    font-size: 12px;
    color: #6D6F71;
    margin-top: 5px;
}

.many_news_box_oclock img{
    width: 12px;
    height: 12px;
    margin-top: -4px;
}

.many_news_box_date img{
    width: 12px;
    height: 12px;
    margin-top: -4px;
}

.many_news_box_title{
    font-size: 14px;
    font-weight: 700;
    color: #231F20;
    margin-top: 30px;
    margin-left: 15px;
    width: 255px;
}




















/*detal*/

/*detal iq*/

.detal_iq_row{
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}

.detal_iq_row a{
    text-decoration: none;
}


.detal_iq{
    margin-top: 20px;
}

.detal_iq_div p{
    font-size: 18px;
    font-weight: 700;
    color: #231F20;
}

.detal_iq_box_div{
    width: 980px;
    margin-left: -20px;
    margin-top: -20px;

}


.detal_iq_box{    
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
    height: 270px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
    background: white;
}

.detal_iq_box:hover{    
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
}
.detal_iq_box img{
    width: 290px;
    height: 180px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.detal_iq_box_oclock{
    float: left;
    font-size: 12px;
    color: #6D6F71;
    margin-top: 5px;
}

.detal_iq_box_date{
    float: right;
    margin-right: 15px;
    font-size: 12px;
    color: #6D6F71;
    margin-top: 5px;
}

.detal_iq_box_oclock img{
    width: 12px;
    height: 12px;
    margin-top: -4px;
}

.detal_iq_box_date img{
    width: 12px;
    height: 12px;
    margin-top: -4px;
}

.detal_iq_box_title{
    font-size: 14px;
    font-weight: 700;
    color: #231F20;
    margin-top: 30px;
    margin-left: 10px;
    width: 280px;
}






.page_numbers{
    text-align: center;
    margin-left: -50px;  
    margin-top: 41px;
}


.page_numbers ul li{
  border-radius: 5px;
  display:inline;
  border: 1px solid #CACACA;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  color: #6D6F71;
  background: white;
}

.page_numbers ul li:hover{
  color: #E62020;
  cursor: pointer;
}






























/*detal iq*/


/*mobile*/

.mobile_row{
    margin-left: auto;
    margin-right: auto;
}

.logo_m{
    width: 173px;
    height: 47px;
    margin-top: 6px;
    float: left;
    margin-left: 20px;
}
.logo_m img{
    width: 40%;
}
.logo_m_popup{
    width: 173px;
    height: 47px;
    margin-top: 6px;
    float: left;
    margin-left: 20px;
}
.logo_m_popup img{
    width: 40%;
}

.bar_m{
    float: right;
    margin-right: 30px;
}

.bar_m a{
    color: black;
}

.bar_m i{
    margin-top: 15px; 
    font-size: 25px;
}

.bar_m_x{
    float: right;
    margin-right: 30px;
}

.bar_m_x a{
    color: black;
}

.bar_m_x i{
    margin-top: 15px; 
    font-size: 25px;
}



.search_inp_m{
    padding-right: 20px;
    padding-left: 15px;
    margin-bottom: 15px;
    padding-top: 45px;
    border-radius: 20px;
}

.search_inp_m img{
    width: 25px;
}

.search_inp_m .btn{
    padding: 0px !important;
    padding-right: 7px !important;
    padding-left: 7px !important;
    background: white;
    border-top-right-radius: 22px !important;
    border-bottom-right-radius: 22px !important;
    border-left-style: none !important; 
    border: 1px solid #ced4da;
    z-index: 0 !important;
}

.form-control{
    border-top-left-radius: 22px !important;
    border-bottom-left-radius: 22px !important;
    font-size: 16px !important;  
    border-right: none; 
}

.form-control:focus {
  border-color: #ced4da;
  box-shadow: inset 0 0px 0px #ced4da;
}

@media screen and (max-width: 3000px) {

    .logo_m img{
        min-width: 100%;
        margin-top: -10px;
        margin-left: -20px;
    }

    .logo_m_popup img{
        min-width: 100%;
        margin-top: -10px;
        margin-left: -20px;
    }

    .bar_m_x{
        margin-top: 35px; 
        font-size: 25px;
    }

    .bar_m{
        margin-top: 30px; 
        margin-right: 25px;
    }
}

@media screen and (max-width: 767px) {
    .header_search_m input{
        width: 85%;
    }

}

@media screen and (max-width: 575px) {
    .logo_m img{
        min-width: 70%;
        margin-top: 0px;
    }

    .logo_m_popup img{
        min-width: 70%;
        margin-top: 0px;
        margin-left: -20px;
    }

    .bar_m_x{
        margin-top: 15px; 
        margin-right: 30px;
    }

    .bar_m{
        margin-top: 15px; 
        margin-right: 25px;
    }
}

@media screen and (max-width: 500px) {
    .header_search_m input{
        width: 75%;
    }
}

@media screen and (max-width: 320px) {
    .header_search_m input{
        width: 68%;
    }
}



.news_m_div{
    margin-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.news_m_div p{
    font-size: 18px;
    font-weight: 700;
}

.news_m_box{    
    margin-top: 20px;
    /*width: 300px;*/
    height: 270px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
    background: white;
    margin-left: -5px;
    margin-right: -10px;
}

.news_m_box img{
    width: 270px;
    height: 153px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
}

.news_m_box_oclock{
    float: left;
    font-size: 12px;
    color: #6D6F71;
    margin-top: 5px;
}

.news_m_box_date{
    float: right;
    margin-right: 15px;
    font-size: 12px;
    color: #6D6F71;
    margin-top: 5px;
}

.news_m_box_oclock img{
    width: 12px;
    height: 12px;
    margin-top: -4px;
}

.news_m_box_date img{
    width: 12px;
    height: 12px;
    margin-top: -4px;
}

.news_m_box_title{
    font-size: 18px;
    font-weight: 700;
    color: #231F20;
    margin-top: 30px;
    padding-bottom: 10px;
    margin-left: 10px;
    /*width: 255px;*/
}

.news_m_box_title b{
    font-size: 18px;
    font-weight: 700;
    
    margin-top: 30px;
    padding-bottom: 10px;

}



@media screen and (max-width: 3000px) {
    .news_m_box{    
        margin-top: 20px;
        min-width: 90%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
        background: white;
    }

    .news_m_box .detal_img{
        min-width: 100%;
        height: auto;
        border-radius: 5px;
        margin-left: 5px;
        padding-right: 10px;
        margin-top: 5px;
    }

}




@media screen and (max-width: 767px) {
    .footer .row{
        padding-top: 30px;
        margin-top: 0px;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
}



.detal_m{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.detal_m .row{
    margin-left: 10px;
    margin-right: 10px;
}



.detal_img_m {
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.detal_img_m img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.date_clock_m{
    /*margin-top: 10px;*/
    margin-right: auto;
    margin-left: auto;
}

.date_clock_m div img{
    margin-top: -2px;
    margin-right: 3px;
    width: 12px;
    height: 12px;
}

.eye_m img{
    width: 19px !important;
    height: 12px;
}

.date_clock_m div{
    border: 1px solid #CACACA;
    border-radius: 20px;
    text-align: center;
    width: 130px;
    height: 30px;
    margin-top: 10px;
    font-size: 12px;
    color: #6D6F71;
    padding-top: 5px;
}

.date_clock_m div:hover{
    color: #E62020;
    border: 1px solid  #E62020;
    cursor: pointer;
}

.date_clock_m div:active{
    color: #E62020;
    border: 1px solid  #E62020;
    cursor: pointer;
}

.date_clock_m div:focus{
    color: #E62020;
    border: 1px solid  #E62020;
    cursor: pointer;
}

.text_title_m{
    margin-top: 15px;
    /*padding-bottom: 15px;*/
}

.text_title_m p{
    font-size: 18px;
    margin-top: -30px;
    /*position: absolute;*/
    font-weight: 700;    
}

.text_title_m b{
    
    font-weight: 700;    
}

.text_m{
    /*color: #6D6F71;*/
	color: #1a1818;
    font-size: 17px;
    text-align: justify;
    margin-top: 30px;
    margin-left: 14px;
    margin-right: 14px;
    font-family: Arial, sans-serif !important;
}






.fb_detal_m{
    width: 116px;
    height: 40px;
    border:1px solid;
    border:1px solid #4267B2;
    border-radius: 20px;
    color: #4267B2;
    font-size: 14px;
    padding-top: 8px;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
}

.fb_detal_m:hover{
    box-shadow: 0px 0px 10px 0px #4267B2;
}

.fb_detal_m img{
    margin-right: 5px;
    margin-top: -3px;
    width: 10px;
    height: 16px;   
}

.wp_m{
    width: 116px;
    height: 40px;
    border:1px solid;
    border:1px solid #0DC143;
    border-radius: 20px;
    color: #0DC143;
    font-size: 14px;
    padding-top: 8px;
    margin-left: 30px;
    text-align: center;
    margin-top: 10px;
}


.wp_m:hover{
    box-shadow: 0px 0px 10px 0px #0DC143;
}


.wp_m img{
    margin-right: 5px;
    margin-top: -3px;
    width: 16px;
    height: 16px;
}

.twit_detal_m{
    width: 116px;
    height: 40px;
    border:1px solid;
    border:1px solid #00BFFF;
    border-radius: 20px;
    color: #00BFFF;
    font-size: 14px;
    padding-top: 8px;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
}

.twit_detal_m:hover{
    box-shadow: 0px 0px 10px 0px #00BFFF;
}

.twit_detal_m i{
    margin-left: -10px;
    margin-right: 5px;
    margin-top: -3px;
    width: 16px;
    height: 16px; 
}


.g_detal_m{
    width: 116px;
    height: 40px;
    border:1px solid;
    border:1px solid red;
    border-radius: 20px;
    color: red;
    font-size: 14px;
    padding-top: 8px;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
}

.g_detal_m:hover{
    box-shadow: 0px 0px 10px 0px red;
}

.g_detal_m i{
        margin-left: -10px;
    margin-right: 7px;
    margin-top: -3px;
    width: 16px;
    height: 16px;
}



.share_m{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.share_m a{
    text-decoration: none;
}

.share_m p{
    margin-top: 30px;
    margin-left: 125px;
    font-size: 14px;
}

/*@media screen and (min-width: 320px) {
    .date_clock_m div:hover{
        color: #E62020;
        border: 1px solid  #E62020;
        cursor: pointer;
    }
}*/
.news_m_div_title{
    color: #231F20;
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;
    width: 300px;
    margin-left: 0px;
}

@media screen and (min-width: 767px) {
    .news_m_div_title{
        width: auto;
    }
}


.bar_open_m{
    width: 179px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 5px;
}


.menu_m{
    margin-left: auto;
    margin-right: auto; 
}

.menu_left_m{
    float: left;
    /*width: 250px;   */
    margin-left: 30px;
}

.menu_left_m div a{
    text-decoration: none;
    color: #231F20;
}

.menu_left_m div a:hover{
    color: #E62020;
}

.menu_left_m div{
    margin-bottom: 15px;
}

.sosial_m{
    float: right;
    margin-right: 25px;
}


.sosial_m_border{
    width: 80px;
    height: 40px;
    border: 1px solid #CACACA;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 4px;
}


.sosial_m_border:hover{
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
}



#overlay {
    position: fixed;
    display: hidden;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    cursor: pointer;
	overflow-y:auto;
  }


.menu_m_bar{
    width: 100% !important;
    height: 568px;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.19);
    margin: auto !important;
    /* background: #FFFFFF; */
    background: rgb(255,255,255);
    display: none;
}


.boxes_m{
    margin-left: -5px;
}

.boxes_m a{
    text-decoration:none;
}
/*mobile*/









/*slider*/

.cursor {
  cursor: pointer;
}






/* Six columns side by side */
.column {
  float: left;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}


.demo:hover {
  opacity: 1 !important;
}



.mySlide {display:none;}



/*slider*/




/*
 * disable auto-zoom on iphone input field focus 
 * http://www.456bereastreet.com/archive/201212/ios_webkit_browsers_and_auto-zooming_form_controls/
*/
input[type='text']:focus,
input[type='number']:focus,
textarea:focus {
    font-size: 16px;
}

/* disable auto-zoom on iphone input field focus */
@media screen and (-webkit-min-device-pixel-ratio:0) {

    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px;
    }
}



